.configuraciones-generales {
    max-width: 1200px;
    margin: auto;
    border-left: 3px 1px rgb(110, 110, 110);
    border-right: 3px 1px solid rgb(110, 110, 110);
    border-radius: 2%;
}
body {
    background-color: #ebebeb;
}
.whatsapp-iconimage {
    max-width: 50px;
    position: fixed;
    bottom: 5px;
    left: 10px;
    }

@media (min-width:520px) {
    .whatsapp-iconimage {
    max-width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: auto;
    }
}
    