.configuraciones-generales {
    max-width: 1200px;
    margin: auto;
    border-left: 3px 1px rgb(110, 110, 110);
    border-right: 3px 1px solid rgb(110, 110, 110);
    background-color: #cecece;
    border-radius: 2%;
}
body {
    background-color: #ebebeb;
}