
.article-FAQ  {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.2em;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.textofaq {
    margin-top: 23px;
    font-size: 1em;
    b {
    font-weight: 900;
    }
}
.textomediodepago {
    font-size: 1.2em;
}
.span-mediodepago {
    display: inline;
    margin: 10px 5px 10px 0px;
    padding: 15px 0px;
}
.FAQ-Talles-img {
    max-width: 500px;
}

.formulario-devoluciones {
    border: 2px solid rgb(224, 224, 224);
    padding: 50px;
    box-shadow: 0px 1px 5px 1px black;
    
}
.h1-form {
    padding-left: 20px;
    padding-top: 10px;
}
.contenedor-formulario {
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.formulario-devoluciones form input,textarea,select,label,b {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 500;
    padding:2px;
}
.formulario-devoluciones textarea {
    resize:vertical;
    overflow: hidden ;
    max-width: 800px;
    padding: 5px;
}

div .formulario-devoluciones {
    margin: 50px 10px;
    background-color: rgb(250, 249, 249);
}
.enviar {
    margin-left: 50px;
    margin-top: 15px;
}

@media (min-width:600px) and (max-width:713px) {
    .formulario-devoluciones textarea {
        resize:vertical;
        overflow: hidden ;
        max-width: 500px;
    }
}
@media (min-width:500px) and (max-width:600px) {
    .formulario-devoluciones textarea {
        resize:vertical;
        overflow: hidden ;
        max-width: 350px;
    }
}

@media (min-width:360px) and (max-width:500px) {
    .formulario-devoluciones textarea {
        resize:vertical;
        overflow: hidden ;
        max-width: 280px;
    }
}
@media (max-width:360px) {
    .formulario-devoluciones textarea {
        resize:vertical;
        overflow: hidden ;
        max-width: 200px;
    }
}

@media (max-width:768px) {
    .textofaq {
        font-size: 0.8em;
    }
    .FAQ-Talles-img {
        max-width: 400px;
    
    }
}
@media (max-width:420px) {
    .FAQ-Talles-img {
        max-width: 350px;
    }
    .textofaq {
        font-size: 0.7em;
    }
    .span-mediodepago {
        width: 80px;
    }
    
}
@media (max-width:370px) {
    .FAQ-Talles-img {
        max-width: 300px;
    }
}
@media (max-width:320px) {
    .FAQ-Talles-img {
        max-width: 250px;
    }
}

@media (max-width:1200px) {
    .article-FAQ {
        padding-left: 20px;
        padding-right: 10px;
    }
}